.App {
  text-align: center;
}

.addedItem {
  padding-top: 7px
}

#newItem {
    font-size: 1.5em
}

.appHeader {
  margin: 1em 1em 1em 1em;
  background-color: coral;
}

.inputArea {
  width: 50%;
}

.container {
  margin-left: 32px !important;
}

#deleteBtn {
  margin-right: 12px;
}

.itemAddedText {
  padding-left: 0px !important;
}

.itemSpan {
  margin-left: 5px;
}
